<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historial de Entregas</title>
</head>
<body>
<h1>Historial de Entregas</h1>

<h2>Detalle de Entregas</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID Entrega</th>
        <th>Domicilio</th>
        <th>DNI Cliente</th>
        <th>Nombre Cliente</th>
        <th>Estado</th>
        <th>DNI Administrador</th>
        <th>DNI Conductor</th>
        <th>Fecha Hora Registro</th>
        <th>Fecha Hora Salida</th>
        <th>Fecha Entrega Prevista</th>
        <th>Fecha Hora Entrega</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entrega : ${entregas}">
        <td th:text="${entrega.idEntrega}"></td>
        <td th:text="${entrega.domicilio}"></td>
        <td th:text="${entrega.dni_cliente}"></td>
        <td th:text="${entrega.nombreCliente}"></td>
        <td th:text="${entrega.estado}"></td>
        <td th:text="${entrega.dniAdministrador}"></td>
        <td th:text="${entrega.dniConductor}"></td>
        <td th:text="${entrega.fechaHoraRegistro}"></td>
        <td th:text="${entrega.fechaHoraSalida}"></td>
        <td th:text="${entrega.fechaEntregaPrevista}"></td>
        <td th:text="${entrega.fechaHoraEntrega}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>