<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Pedidos</title>
    <link rel="stylesheet" href="/css/informe.css">
</head>
<body>

<div class="welcome-container">
    <div class="welcome-content">
        <h1>Informe de Pedidos</h1>
        <p>El número total de pedidos en el sistema es: <strong th:text="${totalPedidos}">0</strong></p>

        <!-- Tabla de Pedidos -->
        <table class="pedido-table">
            <thead>
            <tr>
                <th>ID Entrega</th>
                <th>Domicilio</th>
                <th>DNI Cliente</th>
                <th>Nombre Cliente</th>
                <th>Estado</th>
                <th>DNI Administrador</th>
                <th>DNI Conductor</th>
                <th>Peso</th>
            </tr>
            </thead>
            <tbody>
            <!-- Aquí se agregan dinámicamente los datos de los pedidos -->
            <tr th:each="entrega : ${entregas}">
                <td th:text="${entrega.id_entrega}"></td>
                <td th:text="${entrega.domicilio}"></td>
                <td th:text="${entrega.dniCliente}"></td>
                <td th:text="${entrega.nombreCliente}"></td>
                <td th:text="${entrega.estado}"></td>
                <td th:text="${entrega.dniAdministrador}"></td>
                <td th:text="${entrega.dniConductor}"></td>
                <td th:text="${entrega.peso}"></td>
            </tr>
            </tbody>
        </table>

        <!-- Botón para volver al inicio -->
        <div class="buttons">
            <a href="/" class="btn">Volver al Inicio</a>
        </div>
    </div>
</div>

</body>
</html>
