<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paquetes Asignados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
<h1>Paquetes Asignados</h1>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID Entrega</th>
        <th>Domicilio</th>
        <th>DNI Cliente</th>
        <th>Nombre Cliente</th>
        <th>Estado</th>
        <th>Fecha Hora Registro</th>
        <th>Fecha Hora Salida</th>
        <th>Fecha Entrega Prevista</th>
        <th>Fecha Hora Entrega</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entrega : ${entregas}">
        <td th:text="${entrega.idEntrega}"></td>
        <td th:text="${entrega.domicilio}"></td>
        <td th:text="${entrega.dni_cliente}"></td>
        <td th:text="${entrega.nombreCliente}"></td>
        <td th:text="${entrega.estado}"></td>
        <td th:text="${entrega.fechaHoraRegistro}"></td>
        <td th:text="${entrega.fechaHoraSalida}"></td>
        <td th:text="${entrega.fechaEntregaPrevista}"></td>
        <td th:text="${entrega.fechaHoraEntrega}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>