<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Nuestro Servicio de Paquetería</title>
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
</head>
<body>
<div class="welcome-container">
    <div class="welcome-content">
        <h1>¡Bienvenido a nuestro Servicio de Paquetería!</h1>
        <p>Tu paquete está en buenas manos. Con nosotros, tus envíos llegarán siempre a tiempo y de manera segura.</p>
        <div class="buttons">
            <a th:href="@{/login}" class="btn">Iniciar sesión</a>
        </div>
    </div>
</div>
</body>
</html>
